 /* Night Mode Styles */
 body {
    background-color: #1a1a1a;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the body takes up the full height of the viewport */
    margin: 0; /* Removes default margin */

}
.feed-item {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #2a2a2a;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    border: none;
    background-color: #666;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #555;
}

#main_feed {
    width: 50%; /* Sets the width to half of the page */
    float: left; /* Aligns the element to the left */
    border: 1px solid #ccc; /* Optional: Adds a border for visual clarity */
    padding: 15px; /* Optional: Adds padding inside the container */
    box-sizing: border-box; /* Ensures padding is included in the width calculation */
}
.view-post-button{
    margin-top: 10px;
}

.view-post-button {
    display: inline-block;
    /* width: 25%; */
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #004314;
    color: #e0e0e0;
    text-decoration: none;
    border-radius: 3px;
}

/* Action Buttons Styles */
.action-buttons {
    margin-top: 10px;
}

.action-button {
    display: none; /* Hide all buttons by default */
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #444;
    color: #e0e0e0;
    text-decoration: none;
    border-radius: 3px;
}

.action-button:hover {
    background-color: #555;
}

/* Show buttons based on individual permissions using the ~= selector */
.feed-item[data-permission-type~="edit"] .action-button.edit-button,
.feed-item[data-permission-type~="share"] .action-button.share-button,
.feed-item[data-permission-type~="comment"] .action-button.comment-button,
.feed-item[data-permission-type~="link"] .action-button.link-button {
    display: inline-block;
}

/* .feed-item[data-permission-type="private"] .action-button.edit-button,
.feed-item[data-permission-type="private"] .action-button.comment-button {
    display: inline-block;
} */

/* Add more rules based on other permission types if necessary */